.cardsRow {
    margin-bottom: 100px;

    &>div:nth-child(1) {
      position: relative;
    }

    &>div:nth-child(2) {
      position: relative;
      top: 40px;
    }

    &>div:nth-child(3) {
      position: relative;
      top: 80px;
    }
  }

.chromeBrowser {
    max-width: 250px!important;

}

.firefoxBrowser {
    max-width: 250px!important;

}

.operaBrowser {
    max-width: 250px!important;

}
