
  nav-tabs {
    border: 0px;
  }
  
  .nav-tabs {
    --bs-nav-tabs-border-width: 0px!important;
  }
  
  .hoverNav {
    border: 0px;
  }
  
  .hoverNav:hover {
    border-bottom: solid 3px #FA5959;
  }
  .figureForm2 {
    background-color: $primary;
    width: auto;
    height: 100%;
    position: relative;
    // margin-top: 200px;
    border-radius: 0 200px 200px 0;
  }
  