.colorFooter {
    background-color: #242a46;
}

.colorWhite {
    text-decoration: none;
    color: white;
}

.colorWhite:hover {
    text-decoration: none;
    color: #FA5959;
}

svg:hover path {
    fill: #FA5959;
    transition: all ease 0.3s;
  }