.colorFooter {
    background-color: #242a46;
}

.colorWhite {
    text-decoration: none;
    color: white;
}

.colorWhite:hover {
    text-decoration: none;
    color: #FA5959;
}

.svgHover:hover {
    fill: #FA5959;
}