// body {
//   max-width: 1200px;
// }

$theme-colors: (
  "primary":    #5265E1,
  "secondary":  #FA5959,
);


body > * {
  text-align: center;
}
.figureForm {
  background-color: #5265E1;
  width: auto;
  height: auto;
  border-radius: 100px 0 0 100px;
}
.figureForm2 {
  background-color: #5265E1;
  width: auto;
  height: auto;
  border-radius: 0 100px 100px 0;
}



@import "main-menu";
@import "footer-menu";
@import "../node_modules/bootstrap/scss/bootstrap"